* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* START HTML CSS*/
.container {
  width: 100%;
  height: 100vh;
}
.container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
  background-color: white;
  height: 100%;
  width: 100%;
}
.blur {
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}
.startmenu {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
}
.itemstart:nth-child(1) {
  grid-column: 1/4;
}
.itemstart:nth-child(2) {
  grid-row: 2/4;
}
.itemstart:nth-child(3) {
  grid-row: 2/4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr;
  text-align: center;
  color: #c994fd;
}
.startnews {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 48px;
  padding: 20px;
}
.itemstart:nth-child(3) a {
  font-size: 24px;
  padding: 20px;
  border: #c994fd solid 2px;
  border-radius: 50px;
  color: #d3fbd8;
  text-decoration: none;
}
.itemstart:nth-child(3) a:hover {
  background-color: #d3fbd8;
  color: #c994fd;
  transition: 0.6s;
}

.itemstart:nth-child(4) {
  grid-row: 2/4;
}

/* MAIN HTML CSS */
.mainmenu {
  display: grid;
  height: 75px;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  position: absolute;
}
.righmainmenu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: white;
}
.leftmainmenu {
  width: 50%;
  height: 100%;
}
.itemmain {
  text-align: center;
}
