* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* START HTML CSS*/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
  background-color: white;
  height: 100%;
  width: 100%;
}
.blur {
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}
.contentindex {
  text-align: center;
}
.contentindex h1 {
  font-size: 140px;
  font-weight: 600;
  color: white;
  font-family: "Work Sans", sans-serif;
}
.contentindex a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  padding: 16px 70px;
  border-radius: 50px;
  margin-top: 30px;
  font-family: "Work Sans", sans-serif;
  transition: 0.4s;
}
.fa-solid .fa-regular {
  font-size: 12px;
  margin: 20px;
  transition: 1s;
}
.contentindex a:hover {
  color: black;
  background-color: aliceblue;
}
/* MAIN HTML CSS */
.mainmenu {
  display: grid;
  height: 75px;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  position: absolute;
}
.righmainmenu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  color: white;
}
.leftmainmenu {
  width: 50%;
  height: 100%;
}
.itemmain {
  text-align: center;
}
