@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
footer {
  color: white;
  text-align: center;
  padding-top: 25px;
}
/* MAIN.HTML-UPPER BODY CSS*/
.mainbody {
  background-image: url(./Galerie/planetsbackground.png);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
  background-color: white;
}
.blur {
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}
.contentindex {
  text-align: center;
}
.contentindex h1 {
  font-size: 140px;
  font-weight: 600;
  color: #664fd9;
  font-family: "Work Sans", sans-serif;
}

.grey1 {
  color: #6e45c5;
}
.grey2 {
  color: #7440b9;
}
.grey3 {
  color: #7939aa;
}
.grey {
  color: #823097;
}
.buttons {
  margin: 10%;
  text-align: center;
}
.btn-hover a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}
.btn-hover:hover .exploreindex {
  color: black;
}
.btn-hover i {
  padding: 10px;
  padding-left: 20px;
}
.btn-hover {
  min-width: 250px;
  min-height: 65px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 25px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus {
  outline: none;
}
.btn-hover.color {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/* MAIN HTML CSS */

.infinitymain {
  background-color: rgb(0, 0, 0, 0.5);
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr auto 1fr 0.5fr;
}
.maininfinity {
  text-align: center;
  font-size: 42px;
  font-family: "Archivo Black", sans-serif;
  color: white;
}
.infinitytext {
  padding-top: 10px;
  text-align: center;
  display: block;
  padding-left: 35%;
  padding-right: 35%;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 18px;
}
.mainhistory {
  margin-top: 50px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 18px;
  text-align: center;
}
.mainphotos {
  font-family: "Archivo Black", sans-serif;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr;
  gap: 25px;
  margin-top: 25px;
}
.mainphotos h3 {
  grid-column: 1/4;
  text-align: center;
  font-size: 28px;
}
.mainphotos a {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MAIN.HTML-LOWER BODY CSS*/

.mainhistory a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* planets */
.planetsbody {
  background-image: url(./Galerie/planetsbackground.png);
  background-size: auto;
  height: 100vh;
  width: 100%;
}
.planetsmaindiv {
  height: auto;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.planetsdevide {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px auto 75px;
}
.mainplanets {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
}
.planetsbigright {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 240px 250px;
}
#oss {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.insidefooter {
  display: none;
}
#oss img {
  padding: 10px;
}
#planetsphoto:hover {
  border: 3px orange dashed;
  border-radius: 100px;
}
.planetsimgmerkur img {
  height: 85px;
}
.planetsimgvenuse img {
  height: 100px;
}
.planetsimgzeme img {
  height: 125px;
}
.planetsimgmars img {
  height: 110px;
}
.planetsimgsaturn img {
  height: 145px;
}
.planetsimguran img {
  height: 135px;
}
.planetsimgneptune img {
  height: 95px;
}
#planetsinfostyle {
  grid-column: 1/5;
}
#planetsinfostyle h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 32px;
  color: white;
}
#planetsinfostyle p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: rgb(134, 132, 132);
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
#planetsinfostyle a {
  text-decoration: none;
  color: white;
  font-weight: 600px;
  font-size: larger;
  font-weight: bolder;
  font-family: "Roboto Condensed", sans-serif;
}
.planetsinfomerkur {
  display: none;
}
.planetsimgmerkur:hover ~ .planetsinfomerkur {
  display: block;
}
.planetsinfovenus {
  display: none;
}
.planetsimgvenuse:hover ~ .planetsinfovenus {
  display: block;
}
.planetsinfozeme {
  display: none;
}
.planetsimgzeme:hover ~ .planetsinfozeme {
  display: block;
}
.planetsinfomars {
  display: none;
}
.planetsimgmars:hover ~ .planetsinfomars {
  display: block;
}
.planetsinfojupiter {
  display: none;
}
.planetsimgjupiter:hover ~ .planetsinfojupiter {
  display: block;
}
.planetsinfosaturn {
  display: none;
}
.planetsimgsaturn:hover ~ .planetsinfosaturn {
  display: block;
}
.planetsinfouranus {
  display: none;
}
.planetsimguran:hover ~ .planetsinfouranus {
  display: block;
}
.planetsinfoneptune {
  display: none;
}
.planetsimgneptune:hover ~ .planetsinfoneptune {
  display: block;
}
#planetssmallleft img {
  height: 50px;
  display: grid;
}
.planetsmaindiv footer {
  padding-top: 90px;
}

/* HISTORY SEKCE*/
.newsbody {
  background-image: url(./Galerie/planetsbackground.png);
}
.newsmaindiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}
.newsupperbody {
  margin-top: 150px;
}
.newsupperbody h1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  font-size: 102px;
}
.uppertimeline {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.uppertimeline .fa-arrow-right-long {
  display: none;
}
.lowertimeline {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 13%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.lowertimeline .fa-arrow-left {
  display: none;
}
.timelinemain {
  display: grid;
  grid-template-rows: 100px 1fr 2fr 1fr;
}
.timeline {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}
.contenthistory {
  margin-top: 75px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
}
.contenthistory h1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0.5);
}
.contenthistory p {
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  text-align: center;
  font-size: 24px;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 20px;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.5);
}
.contenthistory h3 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0.5);
}
.bigbang {
  background: url(./Galerie/bigbangpozadijpg.jpg) no-repeat fixed center;
}
.bigbang h1 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0, 0.5);
  padding-bottom: 10px;
  padding-top: 10px;
}
.bigbang h3 {
  background-color: rgb(0, 0, 0, 0.5);
}
.evolutionofstarsadngalaxies {
  background: url(./GalerieLightBox/evolution.png) no-repeat fixed center;
}
.solarsystem h1 {
  background-color: rgb(0, 0, 0, 0);
}
.solarsystem p {
  background-color: rgb(0, 0, 0, 0);
}
.solarsystem h3 {
  background-color: rgb(0, 0, 0, 0);
}
.solarsystem {
  padding: 20px;
}

.solarsystem {
  background: url(./Galerie/Europe_in_the_Solar_System_pillars.png) no-repeat
    fixed center;
}
.Discoveries {
  background: url(./Galerie/background.png) no-repeat fixed center;
  height: 100%;
  width: 100%;
}
.Exploration {
  background: url(./Galerie/explorationpozadi.jpg) no-repeat fixed center;
}
.darkenergy {
  background: url(./GalerieLightBox/darkmetter.png) no-repeat fixed center;
}
.evolutionoss {
  background: url(./Galerie/futurebackground.png) no-repeat fixed center;
}
.to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 50px;
}
.fa-circle-up:hover {
  color: gray;
}

/* CONTACTS SEKCE */
.contactsbody {
  background-image: url(./Galerie/planetsbackground.png);
}
.newsmaindiv {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}
.newsmaindiv footer {
  padding-top: 25px;
}
.up {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: white, 0.2;
}
.up {
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.5);
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 75px;
  align-items: center;
  justify-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}
.menuplanets:hover .dropdown {
  display: block;
}
.dropdown a {
  color: white;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.dropdown a:hover {
  color: black;
}
.os a {
  color: white;
  text-decoration: none;
}
.os a:hover {
  color: rgb(126, 126, 126);
}
.left {
  display: grid;
  justify-items: center;
  align-items: center;
}
.nogray {
  color: rgb(85, 26, 139);
}
.left a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.menutlacitko {
  display: none;
}
.COntactscontact {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
}
.COntactscontact p {
  margin-top: 25px;
}

.contactreal {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 2fr;
  grid-template-rows: auto;
}
.contactinfo {
  color: white;
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-columns: auto;
  background-image: linear-gradient(to right, #6253e1, #852d91);
  border: to right, #6253e1, #852d91, 1px solid;
  border-radius: 15px;
  font-family: "Roboto Condensed", sans-serif;
  width: auto;
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.contactinfo div {
  padding: 15px;
  padding-left: 20px;
  margin-top: 10px;
}
.contactinfo div:nth-child(2) i {
  padding: 0px 10px 30px 0px;
  color: #f24645;
}
.contactinfo div:nth-child(1) p {
  margin-top: 15px;
  color: rgb(255, 255, 255, 0.6);
}
.contactinfo div:nth-child(1) h3 {
  font-size: 28px;
}
.contactinfo a {
  color: white;
}
.contactinfo div:nth-child(3) a {
  margin-right: 20px;
  padding: 5px;
}
.contactinfo div:nth-child(3) {
  margin-bottom: 10px;
}
.contactinfo a:hover {
  background-color: #f24645;
  border: #f24645 0px solid;
  border-radius: 200px;
}
.contactformular {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  color: white;
  background-image: linear-gradient(to right, #6253e1, #852d91);
  border: to right, #852d91, #6253e1, 1px solid;
  border-radius: 10px;
  padding: 8px;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.contactformular input {
  padding: 5px;
}
.contactskvest {
  grid-column: 1/3;
}
::placeholder {
  font-family: "Roboto Condensed", sans-serif;
}
.funkcelevo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/3;
}
.funkcepravo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Message {
  grid-column: 1/3;
}
.Messageinput {
  grid-column: 1/3;
}
textarea {
  resize: none;
  padding: 5px;
}
input:focus {
  background-color: rgb(197, 197, 197);
}
textarea:focus {
  background-color: rgb(197, 197, 197);
}

.contactsbutton {
  grid-column: 1/3;
}
.contactsbutton button {
  padding: 0px 50px 0px 50px;
  border-radius: 10px;
  background-color: #000000;
  border: solid #6253e1 0px;
  color: white;
  height: 75%;
  cursor: pointer;
}
.contactsbutton button:hover {
  background-color: rgb(90, 89, 89);
  color: rgb(255, 253, 253);
}
.funkcelevo {
  accent-color: #000000;
}
.contactsbutton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
/* Základ pro všechny planety */
.mercurymaindiv .up {
  z-index: 2;
}
.mercurymaindiv {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: auto auto auto;
  backdrop-filter: blur(1px);
}
.upperimg img {
  height: 650px;
}
.upperimg {
  padding: 50px;
  display: grid;
  justify-content: center;
}
.uppermenu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
}
.uppermenu h1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-size: 58px;
  text-align: center;
  padding-top: 50%;
}
.uppermenu p {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  padding-top: 10px;
  text-align: left;
  display: block;
  padding: 20px;
}
.uppermenucontect {
  background-color: rgb(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 100%;
  width: auto;
  border-radius: 25px;
  padding: 20px;
}
.uppermenucontect h1 {
  font-size: 86px;
}
.uppermenucontect p {
  color: rgba(255, 255, 255, 0.7);
}

.upperobsahplanet {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1.5fr 0.5fr;
}
.infoupper {
  grid-column: 1/3;
  color: white;
  padding-left: 200px;
  padding-right: 400px;
  gap: 20px;
}
.infoupper th {
  text-align: left;
  padding-right: 100px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}
.infoupper .thnadpis {
  color: white;
  font-size: 22px;
  padding-bottom: 15px;
  font-family: "Archivo Black", sans-serif;
}
.loweobsaplanet {
  color: white;
}
.loweobsaplanet a {
  color: white;
  text-decoration: none;
}
.contentloweobsaplanet h2 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  padding-left: 200px;
  font-size: 64px;
}
.contentloweobsaplanet a {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 48px;
  padding: 20px;
}
.contentloweobsaplanet ul {
  padding-left: 250px;
}
.contentloweobsaplanet {
  margin-bottom: 100px;
}
.quickfacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  border-top: white solid;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 100px;
}
.quickfacts h1 {
  grid-column: 1/4;
  padding: 20px;
  font-size: 64px;
  font-family: "Kelly Slab", cursive;
  padding-bottom: 75px;
}
.quickfacts h6 {
  font-family: "Archivo Black", sans-serif;
  padding-top: 20px;
  font-size: 14px;
  border-top: 1px solid white;
  margin-right: 60%;
}
.quickfacts p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Informations {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  margin-right: 10%;
  margin-left: 10%;
  gap: 40px;
}
.informationsimg img {
  height: 500px;
  object-fit: cover;
}
.nazevinformations {
  grid-column: 1/3;
  border-top: 1px solid white;
  font-family: "Kelly Slab", cursive;
  font-size: 36px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.ifnromationscontent {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 1fr 1fr 1fr;
}
.ifnromationscontent p {
  display: block;
  margin-right: 60px;
  padding: 20px;
  padding-left: 0px;
  font-family: "Roboto Condensed", sans-serif;
}
.ifnromationscontent h1 {
  border-bottom: white solid 1px;
  margin-right: 60px;
  font-size: 18px;
  font-family: "Archivo Black", sans-serif;
  padding: 10px;
  padding-left: 0px;
}
.galleryplaneth1 {
  font-family: "Kelly Slab", cursive;
  font-size: 64px;
  grid-column: 1/3;
  border-top: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.galleryplanet {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  margin-right: 10%;
  margin-left: 10%;
  gap: 20px;
}
.galleryplanet a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Merkury */
.merkurybody {
  background-image: url(./Galerie/planetsbackground.png);
}
/*Venus*/
.venusbody {
  background-image: url(./Galerie/venusbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Earth */
.earthbody {
  background-image: url(./Galerie/Earthbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Mars*/
.marsbody {
  background-image: url(./Galerie/marsbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Jupiter */
.jupitebody {
  background-image: url(./Galerie/jupitersurface.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Saturn */
.saturnbody {
  background-image: url(./Galerie/saturnbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Uran */
.uranusbody {
  background-image: url(./Galerie/uranusbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Neptune */
.neptuneybody {
  background-image: url(./Galerie/neptunebackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile */
@media (max-width: 880px) {
  .contentindex h1 {
    font-size: 60px;
  }

  .maininfinity {
    font-size: 18px;
  }
  .infinitymain {
    width: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 0.5fr auto 1fr 0.5fr;
  }
  .infinitytext {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
  }
  .mainphotos {
    text-transform: uppercase;
    padding: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 0px;
  }
  .mainphotos h3 {
    grid-column: 1;
    text-align: center;
    font-size: 20px;
  }
  .mainphotos a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .zobrazeni {
    display: grid;
  }
  .menutlacitko {
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
  }
  .menutlacitko i {
    font-size: 28px;
  }
  .up {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 75px auto;
  }
  .menuplanets .psst {
    display: none;
  }
  .psst {
    display: none;
  }
  .left a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
  }
  .menuplanets:hover .dropdown {
    display: none;
  }
  .menu {
    font-size: 16px;
  }
  .COntactscontact {
    width: auto;
  }
  .contactreal {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }
  .ulicnik {
    display: none;
  }
  .contactinfo {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .contactinfo div {
    padding: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }
  .contactformular {
    margin-left: 0px;
    padding: 2px;
  }
  .contactinfo div:nth-child(1) {
    display: block;
    text-align: center;
    margin-left: 20px;
    font-size: 18px;
    padding: 0px;
  }
  .contactinfo div:nth-child(1) p {
    font-size: 16px;
  }
  .contactinfo div:nth-child(2) {
    font-size: 18px;
  }
  .contactinfo div:nth-child(3) a {
    margin-left: 30px;
    padding: 0px;
    font-size: 18px;
  }
  .contactformular div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .contactformular {
    padding: 0px;
  }
  .funkcelevo input {
    margin-left: 15px;
  }
  .funkcelevo label {
    font-size: 14px;
  }
  .contactformular input {
    padding: 1px;
  }
  .timelinemain {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .timelinejunk {
    display: none;
  }
  .uppertimeline {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 0px;
  }
  .uppertimeline .fa-arrow-right-long {
    display: inline;
  }
  .uppertimeline .fa-arrow-turn-down {
    display: none;
  }

  .lowertimeline {
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .lowertimeline .fa-arrow-left {
    display: block;
  }
  .lowertimeline .fa-arrow-turn-up {
    display: none;
  }
  .timeline {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .timeline img {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .to-top {
    right: 25px;
  }
  .newsupperbody h1 {
    font-size: 32px;
  }
  .contenthistory h1 {
    font-size: 32px;
  }
  .contenthistory p {
    font-size: 16px;
  }
  .contenthistory h3 {
    font-size: 22px;
  }
  .uppermenu div:nth-child(1) {
    display: none;
  }
  .uppermenu div:nth-child(3) {
    display: none;
  }
  .upperobsahplanet {
    grid-template-columns: auto;
    grid-template-rows: 1fr 0.5fr;
  }
  .infoupper {
    grid-column: 1;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
  }
  .upperimg {
    padding: 0px;
    padding-bottom: 100px;
    display: flex;
  }
  .contentloweobsaplanet ul {
    padding-left: 40px;
  }
  .contentloweobsaplanet h2 {
    padding-left: 20px;
  }
  .upperimg img {
    height: 200px;
  }
  .quickfacts {
    margin-right: 0%;
    margin-left: 1%;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 5px;
  }
  .quickfacts h1 {
    grid-column: 1;
    font-size: 42px;
    text-align: center;
    padding: 0px;
    padding-top: 5px;
  }
  .quickfacts p {
    font-size: 32px;
  }
  .Informations {
    margin-right: 0%;
    margin-left: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .nazevinformations {
    grid-column: 1;
    text-align: center;
  }
  .informationsimg {
    display: flex;
    justify-content: center;
  }
  .informationsimg img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding-left: 0%;
  }
  .ifnromationscontent {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 3fr 3fr;
    grid-template-columns: 1fr;
  }
  .galleryplanet {
    margin-left: 0;
    padding-left: 0px;
    margin-right: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .galleryplanet h1 {
    text-align: center;
  }
  .galleryplaneth1 {
    grid-column: 1;
  }
  .galleryplanet a {
    display: flex;
  }
  .ifnromationscontent p {
    display: block;
    margin-right: 0px;
    font-size: 12px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .uppermenu h1 {
    padding-top: 0;
  }
  .uppermenu {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .uppermenucontect {
    padding: 0px;
  }
  .uppermenucontect p {
    padding-left: 0px;
    padding-right: 0px;
  }
  .planetsjunkup {
    display: none;
  }
  .mainplanets {
    padding-top: 100px;
  }
  .planetssmallleft {
    display: none;
  }
  .planetsbigright {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
  }
  .mainplanets {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #oss {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .planetsmaindiv {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  .outsidefooter {
    display: none;
  }
  .insidefooter {
    display: block;
  }
  .planetsimgmerkur:hover ~ .planetsinfomerkur {
    display: none;
  }
  .planetsimgvenuse:hover ~ .planetsinfovenus {
    display: none;
  }
  .planetsimgzeme:hover ~ .planetsinfozeme {
    display: none;
  }
  .planetsimgmars:hover ~ .planetsinfomars {
    display: none;
  }
  .planetsimgjupiter:hover ~ .planetsinfojupiter {
    display: none;
  }
  .planetsimgsaturn:hover ~ .planetsinfosaturn {
    display: none;
  }
  .planetsimguran:hover ~ .planetsinfouranus {
    display: none;
  }
  .planetsimgneptune:hover ~ .planetsinfoneptune {
    display: none;
  }
}
